@keyframes reveal {
	0%   { transform: translate(0, 20px); opacity: 0; }
	100% { transform: translate(0, 0);    opacity: 1; }
}

@keyframes slide-in {
	0%   { transform: translate(0, 90px); opacity: 0; }
	100% { transform: translate(0, 0);    opacity: 1; }
}

h1, h2, .card, a { opacity: 0; }

h1.animated { animation: 1s reveal ease-out forwards; }
h2.animated { animation: 0.5s reveal 0.5s ease-out forwards; }

#card1.animated { animation: 0.5s reveal 0.8s ease-in forwards; }
#card2.animated { animation: 0.5s reveal 0.9s ease-in forwards; }
#card3.animated { animation: 0.5s reveal 1.0s ease-in forwards; }
#card4.animated { animation: 0.5s reveal 1.1s ease-in forwards; }
#card5.animated { animation: 0.5s reveal 1.2s ease-in forwards; }
#card6.animated { animation: 0.5s reveal 1.3s ease-in forwards; }

#button1.animated { animation: 0.4s slide-in 1.6s ease-in forwards; }
#button2.animated { animation: 0.4s slide-in 1.6s ease-in forwards; }

